---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---


<div class="w-full h-screen bg-black">


	<p class="bg-black underline text-6xl">hello</p>
</div>